*{
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
}

#header{
  background-color: grey;
  height: 88px;
}
  #header img{
    align: right;
    display:inline-block;
    vertical-align: bottom;
  }
  #header h3{
    display: inline-block;
    vertical-align: bottom;
    margin-left: 500px;
    padding-bottom: 0px;
  }
    /*end of header*/
#nav_bar{
  display: inline-block;
  border-top: solid 1px black;
}
  #nav_bar ul{

  }
  #nav_bar ul li{
    color: grey;
    display: inline-block;
  }
    /* end of nav_bar */
#main_content{

}

#img_holder{

}

.subcontent{
  display: inline-block;
  margin: 4px;
  border: solid 2px black;
}
  .subcontent h4{
    background-color: #eecb00;
    padding-left: 3px;
    padding-top: 3px;
    padding-bottom: 3px;
    vertical-align: top;
    /*width: 221px;*/
  }
  .subcontent img{
    height: 101px;
    width: 221px;
    border-top: solid 1px grey;
  }
  .subcontent p{
    margin-top: 4px;
    /*margin-left: 0px;
    padding-right: 0px;
    padding-left: 0px;*/
    width: 221px;
    font-size: 10px;
  }
  .button{
    background-color: #eecb00;
    border: solid 2px black;
    border-radius: 5px;
    margin-left: 120px;
    margin-top: 30px;
    margin-right: 10px;
    margin-bottom: 10px;
    width: 80px;
  }
    .button p{
      vertical-align: middle;
      font-size: 10px;
      font-weight: bold;
    }
