*{
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
}

#header{
  background-color: grey;
  height: 88px;
}
  #header img{
    align: right;
    display:inline-block;
    vertical-align: bottom;
  }
  #header h3{
    display: inline-block;
    vertical-align: bottom;
    margin-left: 500px;
    padding-bottom: 0px;
  }
    /*end of header*/
#nav_bar{
  display: inline-block;
  border-top: solid 1px black;
}
  #nav_bar ul{

  }
  #nav_bar ul li{
    color: grey;
    display: inline-block;
  }
    /* end of nav_bar */
#main_content{
  background-color: white;
}

#img_holder{
  display: inline-block;
  vertical-align: top;
  border: solid 2px white;
  width: 30%;     /*temporary*/
  margin-top: 5px;
  margin-right: 5px;
  margin-left: 10px;
}

#headline{
  display: inline-block;
  vertical-align: top;
  width: 60%;    /*temporary*/
  margin-top: 5px;
  margin-right: 10px;
}
  #headline h3{
    background-color: yellow;
    padding-top: 2px;
    padding-left: 2px;
    padding-bottom: 2px;
  }
  #headline p{
    color: white;
  }
  #headline span{
    font-weight: bold;
  }
